# KDE Config File
[Desktop Entry]
Type=Application
Version=1.0
Name=SymbolEditor
Name[ast]=SymbolEditor
Name[bs]=SymbolEditor
Name[ca]=SymbolEditor
Name[cs]=SymbolEditor
Name[da]=SymbolEditor
Name[de]=Symbol-Editor
Name[el]=SymbolEditor
Name[en_GB]=SymbolEditor
Name[es]=SymbolEditor
Name[et]=Sümbolite redaktor
Name[hu]=Szimbólumszerkesztő
Name[it]=Symboleditor
Name[nl]=SymbolEditor
Name[pl]=EdytorSymboli
Name[pt]=Editor de Símbolos
Name[pt_BR]=Editor de Símbolos
Name[sk]=SymbolEditor
Name[sv]=Symboleditor
Name[uk]=SymbolEditor
Name[x-test]=xxSymbolEditorxx
GenericName=Cross Stitch Symbol Editor
GenericName[bs]=Uređivač simbola za goblene
GenericName[ca]=Editor de símbols de punt de creu
GenericName[cs]=Editor symbolů pro vyšívání křížkovým stehem
GenericName[da]=Symboleditor til korssting
GenericName[de]=Kreuzstich-Symboleditor
GenericName[el]=Επεξεργαστής συμβόλων μοτίβου σταυροβελονιάς
GenericName[en_GB]=Cross Stitch Symbol Editor
GenericName[es]=Editor de símbolos de punto de cruz
GenericName[et]=Tikkimispistete sümbolite redaktor
GenericName[hu]=Keresztszemes-szimbólum szerkesztő
GenericName[it]=Editor per i simboli del punto croce
GenericName[nl]=Kruissteeksymboolbewerker
GenericName[pl]=Edytor symboli Cross Stitch
GenericName[pt]=Editor de Símbolos em Ponto de Cruz
GenericName[pt_BR]=Editor de símbolos em ponto de cruz
GenericName[sk]=Editor symbolov krížových stehov
GenericName[sv]=Editor för korsstygnssymboler
GenericName[uk]=Програма для редагування позначок для вишивання хрестиком
GenericName[x-test]=xxCross Stitch Symbol Editorxx
Comment=A cross stitch symbol creation and editing application
Comment[bs]=Aplikacija za kreiranje i uređivanje goblena
Comment[ca]=Una aplicació de creació i edició de símbols de punt de creu
Comment[da]=Et program til at skabe og redigere korssting-symboler
Comment[de]=Eine Anwendung zum Erstellen und Bearbeiten von Kreuzstich-Symbolen
Comment[el]=Μια εφαρμογή δημιουργίας και επεξεργασίας συμβόλων σταυροβελονιάς
Comment[en_GB]=A cross stitch symbol creation and editing application
Comment[es]=Aplicación de creación y edición de símbolos de punto de cruz
Comment[et]=Tikkimispistete sümbolite loomise ja muutmise rakendus
Comment[hu]=Egy keresztszemes-szimbólum létrehozó és szerkesztő alkalmazás
Comment[it]=Un applicazione per la creazione e la modifica di simboli per il punto croce
Comment[nl]=Een programma voor bewerken en maken van symbolen met kruissteken
Comment[pl]=Program do tworzenia i edytowania symboli cross stitch
Comment[pt]=Uma aplicação de criação e edição de símbolos em ponto de cruz
Comment[pt_BR]=Um aplicativo de criação e edição de símbolos em ponto de cruz
Comment[sk]=Aplikácia na vytváranie a úpravu krížových stehov
Comment[sv]=Ett program för att skapa och redigera korsstygnssymboler
Comment[uk]=Програма для створення та редагування позначок схем для вишивання хрестиком
Comment[x-test]=xxA cross stitch symbol creation and editing applicationxx
Icon=SymbolEditor
Exec=SymbolEditor -caption %c %i %U
Terminal=false
MimeType=application/SymbolEditor;
Categories=Qt;KDE;Graphics;2DGraphics;RasterGraphics;
X-DocPath=SymbolEditor/index.html
